<!DOCTYPE html>

<html>

<head>

  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/genres.css">
</head>

<body>
  <header>
    <nav class="menu">
      <div class="logo">
        <a href="../../index.html"><img src="../../assets/logo/logo.svg" alt="logo" /></a>
      </div>
      <a class="go_back" href="../catalog.html">
        <img src="../../assets/icon/arrow-left.svg" alt="backIcon">
        Volver
    </a>
    </nav>
  </header>
  <h1>Artísticas</h1>
  <h2>
    Retrata el arte escondido.
  </h2>

  <div class="principal">


    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/estuart.html">
          <img class="avatar" src="../../assets/avatars/Avatar6.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">estuart Little</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/trending29.jpg" />
    </li>


    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/obaltala.html">
          <img class="avatar" src="../../assets/avatars/Avatar2.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Obatalá Barak</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/trending28.jpg" />
    </li>

    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/antonio.html">
          <img class="avatar" src="../../assets/avatars/Avatar4.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Antonio Rodríguez</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/trending25.jpg" />
    </li>


</body>

</html>