<!DOCTYPE html>

<html>

<head>

  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/genres.css">
</head>

<body>
  <header>
    <nav class="menu">
      <div class="logo">
        <a href="../../index.html"><img src="../../assets/logo/logo.svg" alt="logo" /></a>
      </div>
      <a class="go_back" href="../catalog.html">
        <img src="../../assets/icon/arrow-left.svg" alt="backIcon">
        Volver
    </a>
    </nav>
  </header>
  <h1>Comida</h1>
  <h2>
    Registra viasualmente los sabores.
  </h2>

  <div class="principal">


    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/abraham.html">
          <img class="avatar" src="../../assets/avatars/Avatar7.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Abraham Suárez</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/comida.jpg" />
    </li>


    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/lana.html">
          <img class="avatar" src="../../assets/avatars/Avatar8.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Lana Roades</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/comida1.jpg" />
    </li>

    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/lana.html">
          <img class="avatar" src="../../assets/avatars/Avatar8.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Lana Roades</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/comida2.jpg" />
    </li>


</body>

</html>