<!DOCTYPE html>

<html>
  <head>
      
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/genres.css">
  </head>
  <body>
    <header>
        <nav class="menu">
          <div class="logo">
            <a href="../../index.html"><img src="../../assets/logo/logo.svg" alt="logo" /></a>
          </div>
    </nav>
    </header>
    <h1>Mascotas</h1>
    <h2>
        Captura tus paisajes preferidos, para disfrutarlos donde quieras. 
    </h2>

    <div class="principal">
     

      <li class="galeria__item" href="#">
        <div class="contenido">
          <img class="avatar" src="../../assets/avatars/Avatar3.svg "/>
          <div class="sub_contenido">
            <h5 class="nombre">Ana Fernández</h5>
          </div>
        </div>
        <img class="galeria__image" src="../../assets/images/mascota.jpg"/>
      </li>

      
      <li class="galeria__item" href="#">
        <div class="contenido">
          <img class="avatar" src="../../assets/avatars/Avatar1.svg "/>
          <div class="sub_contenido">
            <h5 class="nombre">Felipe Iglesias</h5>
          </div>
        </div>
        <img class="galeria__image" src="../../assets/images/mascota1.jpg"/>
      </li>

      <li class="galeria__item" href="#">
        <div class="contenido">
          <img class="avatar" src="../../assets/avatars/Avatar2.svg "/>
          <div class="sub_contenido">
            <h5 class="nombre">Obatalá Barak</h5>
          </div>
        </div>
        <img class="galeria__image" src="../../assets/images/mascota2.jpg" />
      </li>


  </body>
</html>
