<!DOCTYPE html>

<html>

<head>

  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="../../styles/genres.css">
</head>

<body>
  <header>
    <nav class="menu">
      <div class="logo">
        <a href="../../index.html"><img src="../../assets/logo/logo.svg" alt="logo" /></a>
      </div>
    </nav>
  </header>
  <h1>Personas</h1>
  <h2>
    Reinvidica lo que eres y lo que sientes.
  </h2>

  <div class="principal">


    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/ana.html">
          <img class="avatar" src="../../assets/avatars/Avatar3.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Ana Fernández</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/ternding1.jpg" />
    </li>


    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/antonio.html">
          <img class="avatar" src="../../assets/avatars/Avatar4.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Antonio Rodríguez</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/trending11.jpeg" />
    </li>

    <li class="galeria__item" href="#">
      <div class="contenido">
        <a href="../persons/ana.html">
          <img class="avatar" src="../../assets/avatars/Avatar3.svg " />
          <div class="sub_contenido">
            <h5 class="nombre">Ana Fernández</h5>
          </div>
        </a>
      </div>
      <img class="galeria__image" src="../../assets/images/trending27.jpg" />
    </li>


</body>

</html>