<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/fotographers.css">

        <title>Zoomel</title>   
    </head>
    <body>
        <!--Topbar-->

        <h1 id="sectionTitle">Fotógrafos Zoomel</h1>

        <!--Container People-->
        <div class="cards">

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="avatar"></div>
                <div class="content">
                    <h4 class="name">Felipe Iglesias</h4>
                    <div class="especialidades">
                        <img src="../assets/ilustration/house.svg" alt="esp">
                        <img src="../assets/ilustration/art.svg" alt="esp">
                        <img src="../assets/ilustration/pets.svg" alt="esp">
                    </div>
                    <div class="puntation">
                        <img src="../assets/ilustration/stars.svg" alt="puntImage">
                    </div>
                </div>
            </div>

    </body>
</html>