<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>

    <div class="izquierda">
        <img src="../assets/ilustration/login.svg" alt="login">
    </div>

    <div class="derecha">
        <div class="formulario">
            <h1>Inicia Sesión</h1>
            <div class="inputs">
                <label id="email_label" for="email">Email/Username</label>
                <input type="email" id="email">
                <label id="password_label" for="password">Password</label>
                <input type="password" id="password">
                <p class="recordar"><a href="register.html">¿Aun no tienes cuenta?</a><a href="#">¿Has olvidado tu contraseña?</a></p>
                <a href="../index.html" class="boton_login">Login</a>
            </div>
        </div>
    </div>

</body>
</html>