<!DOCTYPE html>
<html>

<head>
    <!--Importamos las páginas css-->
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/trending.css">
    <!--Escribimos una pequeña presentación-->
</head>

<body>
    <h1>Nuestras mejores fotografías</h1>
    <h2>Aquí encontrarás ejemplos de algunas de nuestras mejores
        fotos y podrás consultar el autor.</h2>
    <!---Creamos el contenedor de las imágenes-->
    <div class="grid-gallery">
        <!--Introducimos las imágenes-->
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/paisaje1.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending4.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending11.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending2.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending14.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/paisaje2.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending7.webp">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending9.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending15.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/ternding1.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending13.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending10.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending8.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending16.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending21.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending17.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending18.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending19.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending20.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending22.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending23.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending24.jpeg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending25.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending26.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending27.jpg">
        </a>
        <a class="grid-gallery__item" href="#">
            <img class="grid-gallery__image" src="../assets/images/trending28.jpg">
        </a>
    </div>

</body>

</html>