<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../styles/main.css" />
    <link rel="stylesheet" href="../../styles/people.css" />

    <title>Zoomel</title>
  </head>
  <body>
    <!--Header nav para paginas individuales Fotografos-->
    <nav class="header_back">
      <div class="logo_back">
        <img src="../../assets/logo/logo.svg" alt="logoAlt" />
      </div>
      <a class="go_back" href="../fotographers.html">
        <img src="../../assets/icon/arrow-left.svg" alt="backIcon" />
        Volver
      </a>
    </nav>

    <!--Overview del fotografo-->
    <div class="overview">
      <div>
        <img
          style="width: 320px; height: 378.31px"
          src="../../assets/avatars/Avatar6.svg"
          alt="avatar"
        />
      </div>
      <div class="texto">
        <h1 class="name">Estuart Littel</h1>
        <p class="parr">
          Los Fotógrafos operan cámaras para captar imágenes de personas,
          eventos, escenas, materiales, productos, entre otros elementos. Por lo
          general, trabajan a cuenta propia o independiente, o a cuenta ajena
          con estudios fotográficos, periódicos, revistas, museos y entidades
          gubernamentales.
        </p>
        <br />
        <p class="parr">
          Estos profesionales pueden especializarse en diversas áreas de la
          Fotografía como retratos o rostros, comercial, científica, forense,
          médica, de moda, digital o analógica, multimedia o fotoperiodismo.
        </p>
      </div>
    </div>

    <!--Sections-->
    <div class="sections">
      <div class="conten">
        <div class="item">
          <img
            src="../../assets/ilustration/tarjeta-de-credito.svg"
            alt="logo"
          />
          <ul class="list">
            <li>25€/h - Solo fotos</li>
            <li>35€/h - Fotos + edición</li>
            <li>40€/h - Horario nocturno</li>
          </ul>
        </div>

        <div class="item">
          <img src="../../assets/ilustration/mapa.svg" alt="logo" />
          <ul class="list">
            <li>Sevilla</li>
            <li>Madrid</li>
          </ul>
        </div>

        <div class="item">
          <img src="../../assets/ilustration/trofeo.svg" alt="logo" />
          <ul class="list">
            <li>Personas</li>
            <li>Comida</li>
            <li>Animales</li>
          </ul>
        </div>
      </div>
    </div>

    <!--Imagenes-->
    <div class="works">
      <img src="../../assets/images/people1.png" alt="workAlt" />
      <img src="../../assets/images/people2.png" alt="workAlt" />
      <img src="../../assets/images/people3.png" alt="workAlt" />
      <img src="../../assets/images/people4.png" alt="workAlt" />
    </div>
  </body>
</html>
