@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-image: url(../assets/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
body *{
    background: none;

}

/*============== HEADER ==========*/
.menu{
    justify-content: space-between;
    display: flex;
    align-items: center;

    padding-top: 80px;
    padding-left: 99px;
    padding-right: 100px;
}

.logo{
    padding-left: 8%;
}

.items{
    list-style: none;
    padding-right: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.items li:not(:last-child){
    margin-right: 25px;
}

.items a:link,
.items a:visited{
    font-size: 21px;
    text-decoration: none;
    color: #EEB53C;
    opacity: 70%;
    transition: color .3s;
}

.items a:hover,
.items a:active{
    color: #EEB53C;
    opacity: 100%;
}
/*============= Centro =============== */

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
      
    margin: 130px auto;
}

.home{
    width: 384px;
    height: 384px;
}

.centro p{
    margin-top: 14px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 500px;
}

.centro img {
    width: 300px;
}

/* ================ FOOTER ============= */
footer{
    padding-bottom: 80px;
}

.redes ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes ul li:not(:last-child){
    padding-right: 80px;
}

.redes img{
    width: 30px;
    height: 30px;
    color: #FFFFFF;
}

/*RESPONSIVE*/

@media (max-width: 1300px) {
    .menu{
        flex-direction: column;
        justify-content: center;
    }

    .items{
        padding-right: 0;
        margin-top: 20px;
    }

    .logo{
        padding-left: 0;
    }
}